button{
	background-color: #444444;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

body {
	background-color: #444444;
	margin: 0;
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
	margin: 0;
}

#header {
	background-color: #444444;
	color: #eaeaea;
	text-align: center;
	padding: 8px;
}

#Container {
	background-color: #f30067;
	text-align: center;
	padding: 16px;
}

#TextAndSuch {
	background-color: #00d1cd;
	color: #444444;
	overflow: auto;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 16px;
}

#Controls {
	padding-left: 32px;
	float: left;
}

#Rules {
	padding-right: 32px;
	float: right;
}

#Footer {
	background-color: #444444;
	color: #eaeaea;
	text-align: center;
}